/* common attributes */

/* *{
    transition: all 1.5s linear;
} */
/* body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
} */
    *{
    padding: 0;
    margin: 0;
    }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
img{
    width: 100%;
    transition: all .3s;
}

.generalImage{
    width: 100%;
    height: 100%;
}
:root{
    --myred:rgb(242, 84, 84);
    --myred-layer: rgba(242, 84, 84, .85);
}

/* section heading */

.section-heading h2{
    position: relative;
    font-size: 38px;
    font-weight: 700;
}

.section-heading h2::before{
    content: attr(bg-title-letter);
    position: absolute;
    font-size: 2em;
    font-weight: 900;
    opacity: .06;
    bottom: -.25em;
    left: 50%;
    transform: translatex(-50%);
}

.section-heading hr{
    width: 40px;
    transition: all .3s;
    margin: auto;
    opacity: 1;
    height: .5px;
}
.section-heading:hover hr{
    width: 80px;
}

/* navbar */

#navbar {
    transition: all 1s;
}
.navbar-brand img {
    width: 130px;
}

.nav-link {
    font-weight: 600;
    cursor: pointer;
}

.language-switcher a:hover {
    background-color: #ddd;
    color: black;
}

/* home */

#home {
height: 100vh;
}
.carousel-caption{
    bottom: 5rem;
}

.carousel-caption h1{
    bottom: 5rem;
}

/* fixed frame */

.fixed-frame{
    position: absolute;
    z-index: 10;
    border: solid;
    border-width: 10px;
    border-color: rgba(84, 237, 242, 0.80);

}

#fixed-frame-top{
    width: 100%;
    top: 100vh;
}

#fixed-frame-bottom{
    width: 100%;
    top: 190vh;
}

#fixed-frame-left{
    height: 90vh;
    top: 100vh;
    left: 0;
}

#fixed-frame-right{
    height: 90vh;
    top: 100vh;
    right: 0;
}

/* about us */

.content p{
    text-align: justify;
}

#about-us .content{
    /* height: 100vh; */
    /* position: relative; */
    background-image: url('../images/hello-panner3.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10%;
}

/* #about-us .content .row */

#about-us .content .row{
    background-color: rgba(106, 116, 229, 0.314);
    position: relative;
    height: 100%;
    width: 100%;
    left: 10px;
    /* top: 0;
    right: 0;
    bottom: 0; */
    color: white;
    font-weight: 600;
    border-radius: 10%;

}


/* rounded text */

.round-container {
     /* --s:450px;  Size of the circle */
     --p:15px;   /* padding */
    height: 250px;
    /* width: var(--s); */
    border-radius: 50%;
    /* background: #333; */
    /* color:#fff; */
    margin:30px auto;
    /* font-size:20px; */
    text-align:justify;
}

.round-container i,
.round-container::before {
    content: '';
    float: left;
    height:100%;
    width: 50%;
    shape-outside: radial-gradient(farthest-side at right, transparent calc(100% - var(--p)), #fff 0);
}

.round-container i {
    float: right;
    shape-outside: radial-gradient(farthest-side at left,  transparent calc(100% - var(--p)), #fff 0);
}

/* /////////////// */
  
#about-us .content p{
    background-color: rgba(53, 39, 143, 0.8);
    padding: 20px;
    border-radius: 20px;
    /* background-color: aqua; */
}

/* .bestprice {
    background-image: url(../images/bestprice2.png);
} */

/* services */

#services .content .img-row{
    background-image: url(../images/fields.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}

/* #services .content .col-12 .col-lg-4{
    display: flex;
    height: 100%;
} */

#services .content p{
    font-weight: 600;
}
#services .content .subrow  .content-part{
    /* flex: 1;
    display: flex; */
    flex-direction: column;
    /* padding: 10px; */
    /* background-color: rgba(84, 123, 242, 0.85); */
    border-radius: 10%;
}



#services .content .prgrph{
    /* height: 100%; */
    flex: 1;
    padding: 10px;
    background-color: rgba(128, 186, 240, 0.7);
    border-radius: 10%;
}


.servicesimage {
    background-image: url(../images/fields3-transformed.jpeg);
    /* background-position: 100% 100%; */
    height: 600px;
    background-size: cover;
    border-radius: 10%;
}

.servicesimage p{
    font-weight: 500;
    /* background-color: rgba(59, 102, 157, 1); */
    border-radius: 25%;
    /* border:double seagreen; */
    color: white;
}

.servicesimage h4{
    color: white;
}

.bgImage{
    content: attr(bg-image);
    background-image: attr(bg-image);
    background-size: 100%;
    background-position: center;
}

.bg-red{
    background-color: red;
}


/* references  */

#references .content .img-row{
    background-image: url(../images/Referenzen.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
}


/* why us */

#why-us img{
    border-radius: 30%;
    /* border: solid; */
}


/* kontank */

.angebot-form h3{
    font-size: 32px;
    font-weight: 700;
}
.angebot-form button{
    background-color: var(--myred);
}
.btn-send:hover{
    opacity: 0.7;
}
.kontakt-line:hover h5{
    color: var(--myred);
}

.kontakt-line i{
    color: var(--myred);
}
